<div layout="row" layout-align="center center">
    <div class="label">License Plate #</div>
            <div>{{platenumber1}}</div>
            <div>{{platenumber2}}</div>
            <div>{{platenumber3}}</div>
            <p>-</p>
            <div>{{platenumber4}}</div>
            <div>{{platenumber5}}</div>
            <div>{{platenumber6}}</div>
            <div>{{platenumber7}}</div>
        </div>    
</div>
<div layout="row" layout-align="center center">
  <md-button class="md-raised" placeholder="Submit">Submit</md-button>
</div>
