<div layout="row" layout-allign="center center">

	<md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
      <label>Name</label>
      <input ng-model="user.title">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
  </md-content>

  <md-button class="md-fab md-primary" aria-label="Submit">
    <md-icon icon="img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
  </md-button>

</div>